      <div id="header">
	  <div id="headerwrapper">
        <div id="logo">
	      <h1>Lighthouse Benefits</h1>
          <h3>Benefits Made Easy</h3>
        </div>
      
        <ul id="headnav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/solutions">Solutions</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      </div>

      <div id="primary">
	  <div id="primarycontent">                
      </div>
       
      
      <div class="secondarycontent" id="contact">
		<div id="secleft">
			<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

			<script type="text/javascript">
			var z7x3k1 = new WufooForm();
			z7x3k1.initialize({
			'userName':'lighthousebenefits', 
			'formHash':'z7x3k1', 
			'autoResize':true,
			'height':'517',
			'header':'show'});
			z7x3k1.display();
			</script>	
		</div>
	    
	    <div id="secright">
		 <h2>Set up a meeting today!</h2>
		 <p>Overwhelmed by the burden of managing your employee benefits program! Set up a meeting and let us show you a better way. Just complete the Contact Us form or you can reach us via the phone or email address below:</p><br>
		<h4>Steve Christie</h4>
		<h4>Steve@lighthousebenefits.com</h4>
		<h4>860-631-7755</h4>
		</div>
	
					
      </div>
      <div id="footer">
	      <h6>&copy; 2012 Lighthouse Benefits</h6>
	  </div>
	  </div>
