      <div id="header">
	  <div id="headerwrapper">
        <div id="logo">
	      <h1>Lighthouse Benefits</h1>
          <h3>Benefits Made Easy</h3>
        </div>
      
        <ul id="headnav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/solutions">Solutions</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      </div>

      <div id="primary">
	  <div id="primarycontent">      
        <div id="mainleft">
          <h2>Employee Benefits Made Easy</h2>
          <p>
            Lighthouse Benefits has solutions designed to help your small and mid size business easily manage your employee benefit plans. Let us show you a customized solution that solves your benefit pain points. 
          </p>
          <p class="contactus"><a href="contact.html">Contact Us</a></p>
        </div><!-- end #mainleft -->

        <div id="mainright">
        	<ul>
        		<li>Consolidated Billing</li>
                <li>Custom Consolidated Enrollment Forms</li>
                <li>Billing Reconciliations</li>
                <li>Employee Self Service Benefits</li>
                <li>Payroll/Benefits Integration</li>
                <li>Employee Advocates and Benefits Counselors</li>
        	</ul>        
        </div><!-- end #mainright -->        
      </div><!-- end #primarycontent -->
      
      
      <div class="secondarycontent">
          <div id="secheader">
	        <h2 class="content_header">Do you need a better way?</h2>
            <h3 class="content_header">Let us show you how!</h3>
          </div>
 
 
	    <div class="bullet">
           <div class="circle">
		       <p>1</p>
		   </div>
		   <h3>Overwhelmed with multiple carrier paperwork!</h3>
		</div>
		<div class="bensummary">
		<p class="headline"> Stop dealing with all of the separate forms and websites for every carrier. We offer a custom consolidated enrollment form that replaces all of those separate forms. Less mess. Less hassle. In addition, our consolidated on-line benefits portal means that you just need to make the eligibility change once. Save time. Save money. </p>
		</div>	

		<div class="bullet">
           <div class="circle">
		       <p>2</p>
		   </div>
		   <h3>Is COBRA administration driving you crazy?</h3>
		</div>
		<div class="bensummary">		
		<p> Stop dealing with the complexities of doing your own COBRA administration or dealing with a COBRA vendor that means just one more company to notifying of eligibility changes. Our COBRA service is integrated with our on-line eligibility portal. Report an employee termination just once. Not only will will the termination be reported to all of your carriers, but all COBRA notices will automatically be mailed. There is no easier way to manage COBRA.</p>
	    </div>
        
		<div class="bullet">
           <div class="circle">
		       <p>3</p>
		   </div>
		   <h3>Are you auditing your monthly carrier invoices? If not, you might be throwing money out the window.</h3>
		</div>
		<div class="bensummary">		
		<p> With Lighthouse Benefits, your eligibility changes will be submitted to all of your insurance carriers automatically via our HIPPA compliant eligibility files. No more forgetting to send changes to one of your carriers.  Your monthly bill is also more accurate as human interactions are eliminated at the carrier. Lighthouse also audits your monthly bill to ensure that the bill reflects the changes in your on-line eligibility system.uses HIPPA compliant electronic. Save time. Save money. </p>
		</div>

		<div class="bullet">
           <div class="circle">
		       <p>4</p>
		   </div>
		   <h3>Are your employees getting the run around from the insurance company customer service 1 800 numbers?</h3>
		</div>
		<div class="bensummary">		
		<p> Give your employees the red carpet treatment they deserve. With Lighthouse, they have One Point of Contact. Your employees will have access to our Advocates and Benefits Counselors, who will help them navigate the insurance company maze and resolve complicated or sensitive benefit and claim issues. Your dedicated Account Manger is also available to help facilitate all aspects of your plan.</p>
		</div>

      </div>
      <div id="footer">
	      <h6>&copy; 2012 Lighthouse Benefits</h6>
	  </div>
	  </div>

