      <div id="primary">
	  <div id="primarycontent">                
      </div>
      <div class="secondarycontent" id="solutions">
	    <sdiv id="sidebar">
		  <h3>Consolidated Billing</h3>
	   	  <p><span>The Challenge: </span> The Human Resources and Finance Department heads at a 125 employee company struggled to manage benefit plan invoices from three different insurance carriers for programs in multiple locations. Varying data from multiple carrier reports made cost analysis extremely difficult.</p>
	      <p><span>The Solution: </span>The client learned that Lighthouse not only consolidates invoices for multiple plans onto a single bill, but could also show the costs for each location or department separately depending on their needs. The invoice can also be downloaded into a workable Excel file, giving both HR and finance a tool to meet their unique needs for the data, such as verification of which employees are in what plans, reconciliation of employee payroll deductions, or verification of life and disability benefit amounts.</p>
	      <p><span>The Value: </span>This organization now receives one bill and remits one payment for all their benefits. The bills are available to view any time through the client's customized website and can be downloaded and manipulated to create various reports.</p>
	      <p><span>The Result: </span>Reconciliation, benefit verification, benefit costs and funding source allocation are much easier to manage and analyze. The client has found tremendous value in the ability to download and sort the invoice data for budget and expense projections.</p> 
	    </div>
       <h2>The Power of One</h2>
       <p>Benefits Administration can be especially complicated, and when evaluating total plan expense, it is important to consider many factors, such as how many carriers you have in your plan, the various processes used to update eligibility, the time spent helping employees during enrollment, and reconciling carrier bills each month.</p>
       <p>Through Lighthouse Benefits, the Power of One provides you with built-in features that consolidate and automate those administrative activities, streamlining the process so you spend less time managing the benefit plans. Here's how PPI puts the Power of One to work for you:</p>
       <p><span class="one">One </span><span class="plan">Consolidated Program</span> - You get access to fully-insured products through multiple top-tier carriers packaged into one employee benefits program.</p>
       <p><span class="one">One </span><span class="plan">Benefits Administration System</span> - Our AutoEnroll system consolidates all menu carriers and lines of coverage onto a single, easy to use, secure online portal.</p>
       <p><span class="one">One </span><span class="plan">Consolidated Bill</span> - You receive one invoice each month for all carriers and lines of coverage and cut only one check. For your convenience, the invoice is available online and can be exported to an Excel file. We also handle reconciliations and discrepancy resolution directly with each carrier.</p>
       <p><span class="one">One </span><span class="plan">Source COBRA Administration</span> - We alleviate the burden of handling COBRA on your own or paying a vendor to manage it for you. Available at no additional cost, our COBRA service is fully automated and integrated with AutoEnroll.</p>
       <p><span class="one">One </span><span class="plan">Point of Contact</span> - Your employees have direct access to our Advocates and Benefit Counselors, who help them navigate the insurance maze and resolve complicated or sensitive benefit and claim issues. Your dedicated Account Manager is also available to help facilitate all aspects of your plan.</p>

      </div>
      <div id="footer">
	      <h6>&copy; 2012 Lighthouse Benefits</h6>
	  </div>
	  </div>
 